@media(max-width: 1200px){
    .long {
        width: 610px;
    }
    .short {
        width: 285px;
    }
    .events-container a {
        margin: 20px;
    }
    .event-circle {
        left: 275px;
    }
    .short .event-circle {
        left: 112.5px;
    }
}

@media(max-width: 720px){
    .long {
        width: 380px;
    }
    .short {
        width: 380px;
    }
    .events-container a {
        margin: 15px;
    }
    .event-circle, .short .event-circle {
        left: 160px;
    }
}

@media(min-width: 640px){
    .event-box:hover {
        transition: all 1s;
        transform: scale(1.05);
    }
}
